h1 {

color: white;
background-color: grey;
text-align: center;
margin-bottom: 100px;

}

p {
text-align: center
}

ul {
text-align: center;
}

li {
text-align: center
}

body {
    background-color: rgb(32, 31, 31);
    color: white;
    text-align: center;
}

